/*Credits to Spotify for the colors*/

body{
    background: linear-gradient(#2d2929,#191414);
    font-family: tahoma, Geneva, arial, helvetica;
    color: #bbb;
    font-size: 1.1em;
    max-width: 77%;
    margin: 0 auto;
    padding: 1rem;
}
img{
    width: 300px
}
a{
    text-decoration: none;
    color: rgb(19, 154, 233);
}
h2, h3{
    color: #fff;
}
h1{
    text-align: center;
    color: #1DB954;
}
p{
    margin-left: 2em;
}
ul{
    font-weight: bold;
    list-style: none;
}
